h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

.mb-3 {
    width: 500px;
}

label {
    display: flex;
}

textarea {
    resize: both;
}

button {
    margin-top: 20px;
    margin-left: 0;
}

