footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #C9B99A;
    color: #3B3B3B;
    padding: 10px;
    text-align: center;
    z-index: 55;
}

.footer-items {
    color: #3B3B3B !important;
}

.footer-link {
    text-decoration: none !important;
}

.footer-link:hover {
    color: #3B3B3B;
}